
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>ShoppingCart</title>
</head>
<header>
    <nav>
        <a href="{% url 'show_main' %}">Головна</a>
        <a href="{% url 'show_contact' %}" class="headet_links">Наші контакти</a>
        <a href="{% url 'show_product' %}" class="headet_links">Продукти</a>
        <a href="{% url 'show_shopping_cart' %}" class="headet_links">Кошик</a>
        <a href="{% url 'show_login' %}" class="headet_links">Вхід</a>
        <a href="https://t.me/+fCXcugYQhwcyYTMy" class="headet_links">Відгуки</a>
    </nav>
<body>
    {% block content %}
    <header>
        <h1>Корзина</h1>
    </header>
    <main>

    </main>
    {% endblock %}
</body>
</html>
