{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/p_page.css' %}">
    <title>Product</title>
</head>

<body>
    <header>
        <nav>
            <a href="{% url 'show_main' %}">Головна</a>
            <a href="{% url 'show_contact' %}" class="headet_links">Наші контакти</a>
            <a href="{% url 'show_product' %}" class="headet_links">Продукти</a>
            <a href="{% url 'show_shopping_cart' %}" class="headet_links">Кошик</a>
            <a href="{% url 'show_login' %}" class="headet_links">Вхід</a>
            <a href="https://t.me/+fCXcugYQhwcyYTMy" class="headet_links">Відгуки</a>
        </nav>
        <h1>Наші товари</h1>
    </header>

          
            <div class="product-container">
              <div class="product">
                <img src="{% static 'images/grafit.jpg' %}">
                <h3>Графіт з ЧАЕС</h3>
                <p>Просто графіт з ЧАЕС. Підійде для того, щоб поставити його собі на полицю, та померти від радіоактивного отруєння.</p>
                <button class="add-to-cart-btn">Додати до кошика</button>
              </div>
          
              <div class="product">
                <img src="{% static 'images/plutoniy.jpg' %}">
                <h3>Плутоній</h3>
                <p>Він використовується у військовій сфері також, як і уран 235. Також його можна використовувати його як паливо для ваших АЕС, але це буде не настільки економічно вигідно, як використання урану 238.</p>
                <button class="add-to-cart-btn">Додати до кошика</button>
              </div>
              <div class="product">
                <img src="{% static 'images/californiy.jpg' %}">
                <h3>Каліфорній</h3>
                <p>Він є ініціюючим джерелом нейтронів для ядерних реакторів. Візьміть його разом з ураном 238.</p>
                <button class="add-to-cart-btn">Додати до кошика</button>
              </div>
              <div class="product">
                <img src="{% static 'images/uran238.jpg' %}">
                <h3>Уран 238</h3>
                <p>Він також відомий як збагачений уран. Може використовуватись у ваших домашніх АЕС або у кишеньковій ядерній зброї. Залежить від вашого настрою та бажання :).</p>
                <button class="add-to-cart-btn">Додати до кошика</button>
              </div>
              <div class="product">
                <img src="{% static 'images/uran235.jpg' %}">
                <h3>Уран 235</h3>
                <p>Збіднений уран. Він є свого роду відходом з виробництва збагаченого урану, який знаходиться далі. Зазвичай використовується у військовій сфері. Наприклад броня у танків, вміст снарядів і так далі. Створіть свою власну армію за таку смішну ціну!</p>
                <button class="add-to-cart-btn">Додати до кошика</button>
              </div>
          
          
            </div>


</body>
</html>

